<template>
</template>

<script>
import NavBar from "../components/NavBar";
import ComicsList from "./Comics/Comics-list";
export default {
    name: "Dashboard",
    components: {ComicsList, NavBar},
    props: {
        comics: Object,
    },

}
</script>
