<template>
    <template>
        <header>
            <NavBar/>
        </header>
        <main>
            <slot name="default" />
        </main>
    </template>
</template>

<script>
import NavBar from "./NavBar";
export default {
    name: "Layout",
    components: {NavBar}
}
</script>

<style scoped>

</style>
