<template>
    <nav class="border-b border-gray-800">

        <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between px-4 py-3">
            <ul class="flex flex-col md:flex-row items-center">
                <li>
                    <inertia-link :href="route('comics')" class="hover:text-gray-300"><img src="/img/logo.png" alt="logo" class="w-28"></inertia-link>
                    <a href="/"></a>
                </li>

                <li class="md:ml-16 mt-3 md:mt-0">
                    <inertia-link :href="route('comics')" class="hover:text-gray-300"><i class="fas fa-book-open"></i> Comics</inertia-link>
                </li>
            </ul>
            <div class="flex flex-col md:flex-row items-center">
                <div class="md:ml-4 mt-3 md:mt-0">
                    <inertia-link :href="route('cart.show')" class="hover:text-gray-300">
                        <i class="fas fa-cart-plus"></i> ${{totalCart.toFixed(2)}}
                    </inertia-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: "NavBar",
    computed: {
        ...mapGetters([
            'totalCart'
        ])
    }
}
</script>

<style scoped>

</style>
