<template>
    <NavBar></NavBar>
    <div class="comic-info border-b border-gray-800">
        <div class="container mx-auto px-4 py-16 flex flex-col md:flex-row">
            <div class="flex-none">
                <img :src="comic.thumbnail" :alt="comic.title"
                     class="hover:opacity-75 transition ease-in-out duration-150">
            </div>
            <div class="md:ml-20">
                <h2 class="text-4xl font-semibold">{{ comic.title }}</h2>
                <div class="flex flex-wrap items-center text-gray-400 text-sm mt-2">
                    <span class="ml-0">#{{ comic.id }}</span>
                    <span class="mx-2">|</span>
                    <span><i class="far fa-calendar-alt"></i></span>
                    <span class="ml-2">{{ comic.dates }}</span>
                    <span class="mx-2">|</span>
                    <span><i class="far fa-file"></i> {{ comic.pageCount }} pages</span>
                </div>

                <div class="mt-4">
                    <h4 class="text-4xl font-semibold"><i class="fas fa-dollar-sign"></i> {{ comic.prices.printPrice }} USD</h4>
                </div>

                <div class="mt-6">
                    <button @click="addCart(comic.id)" class="flex inline-flex items-center bg-green-500 text-white-900 rounded
                        font-semibold px-16 py-4 hover:bg-green-600 transition ease-in-out duration-150">
                        <i class="fas fa-cart-plus"></i> <span class="ml-2">COMPRAR</span>
                    </button>
                </div>

                <p class="text-gray-300 mt-8">
                    {{ comic.description ?? 'Descrição não disponível' }}
                </p>

                <div class="mt-16">
                    <h4 class="text-white font-semibold">Creators</h4>
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8 mt-2">
                        <div v-for="creat in comic.creators" class="ml-8">
                            <div>{{ creat.name }}</div>
                            <div class="text-sm text-gray-400">{{ creat.role }}</div>
                        </div>
                    </div>
                </div>

                <div class="mt-12">
                    <a :href="comic.urls.detail" class="flex inline-flex items-center bg-red-600 text-white-900 rounded
                        font-semibold px-5 py-4 hover:bg-red-700 transition ease-in-out duration-150">
                        <i class="fas fa-info-circle"></i> <span class="ml-2">More information in marvel.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="comic-characters border-b border-gray-800">
        <div class="container mx-auto px-4 py-16">
            <h2 class="text-4xl font-semibold">Characters</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                <div v-if="characters.length > 0" v-for="(character, index) in characters" :key="index">
                    <div class="mt-8">
                        <a>
                        <img :src="character.thumbnail" :alt="character.name+' avatar'" class="hover:opacity-75 transition ease-in-out duration-150">
                        </a>
                        <div class="mt-2">
                            <a class="text-lg mt-2 hover:text-gray-300">{{ character.name }}</a>
                        </div>
                    </div>
                </div>
                <div class="my-4" v-else>
                    <p>Dados não disponíveis</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../../components/NavBar";
export default {
    name: "Comics-show",
    components: {NavBar},
    props: {
        comic: Object,
        characters: Object
    },
    methods: {
        addCart: function(id){
            this.$store.dispatch('ADD_CART', id)
        }
    }
}
</script>

<style scoped>

</style>
