<template>
    <NavBar/>
    <div class="container mx-auto px-4 py-4">
        <div class="random-comics mb-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                <div v-for="comic in comics.data" :key="comics.id">
                    <div class="mt-8">
                        <inertia-link :href="route('comics.show', { id: comic.id })">
                            <img :src="comic.thumbnail" :alt="comic.title"
                                 class="hover:opacity-75 transition ease-in-out duration-150">
                        </inertia-link>
                    </div>
                    <div class="mt-2">
                        <inertia-link :href="route('comics.show', { id: comic.id })"
                                      class="text-lg mt-2 hover:text-gray-300">{{ comic.title }}
                        </inertia-link>
                        <div class="flex items-center text-gray-400 text-sm mt-1">
                            <span><i class="far fa-calendar-alt"></i></span>
                            <span class="ml-2">{{ comic.dates }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Pagination :data="comics"/>
    </div>
</template>

<script>
import Pagination from "../../components/Pagination";
import { mapState, mapGetters } from 'vuex'
import NavBar from "../../components/NavBar";
export default {
    name: "Comics-list",
    components: {NavBar, Pagination},
    props: {
        comics: Object,
    },
    computed: {
        ...mapState([
            'loading',
            'error'
        ]),
        ...mapGetters([
            'listProducts'
        ])
    },
    created: function() {
        this.getData();
    },
    watch: {
        '$route': 'getData'
    },
    methods: {
        getData(){
            this.$store.dispatch('FETCH_ITEMS', this.comics)
        }
    }
}
</script>

<style scoped>

</style>
