<template>
    <NavBar/>
    <div class="h-screen">
        <div class="py-12">
            <div class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg md:max-w-5xl">
                <div class="md:flex-2 ">
                    <div class="w-full p-4 px-5 py-5" v-if="numCartItems > 0">
                        <div class="md:grid md:grid-cols-2 gap-2 ">
                            <div class="col-span-2 p-5">

                                <h1 class="text-3xl font-medium text-gray-800"> <inertia-link :href="route('comics')">
                                    <span class="mr-4 item-center"><i class="fas fa-arrow-left"></i></span></inertia-link>Carrinho de compras</h1>
                                <div v-for="(item, index) in listCart" :key="index"
                                     class="flex justify-between items-center mt-6 pt-6">
                                    <div class="flex items-center"><img :src="item.thumbnail" width="120"
                                                                        class="px-0 py-0">
                                        <div class="flex flex-col ml-3"><span
                                            class="text-2xl font-medium text-gray-800">{{ item.title }}</span><span
                                            class="ml-2 font-light text-gray-400">#{{ item.id }}</span></div>
                                        <div class="ml-8 self-center">
                                            <button @click="removeFromCart(item.id)" >
                                            <span style="font-size: 2em; color: Tomato;">
                                            <i class="fas fa-times-circle"></i>
                                            </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <div class="pr-8 flex "><span class="text-2xl font-semibold text-gray-800">-</span>
                                            <input type="text" class="text-2xl text-center border -h-4 w-10 rounded text-sm px-2 mx-2 text-gray-800"
                                                   :value="numCartItems"> <span class="text-2xl font-semibold text-gray-800">+</span></div>
                                        <div class="pr-8 text-center">
                                            <span class="text-2xl font-medium text-gray-800">${{ item.subTotal }}</span>
                                            <span class="flex ml-2 font-light text-gray-500"
                                                  v-if="item.quantity > 1">(${{ item.price }} cada)</span></div>
                                    </div>
                                </div>
                                <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                    <div class="flex items-start">
                                        <button @click="emptyCart()" class="flex inline-flex items-center bg-red-700 text-white-900
                                         rounded font-semibold hover:bg-red-700 transition ease-in-out duration-150
                                          rounded-lg rounded-full py-3 px-6" >Esvaziar Tudo</button>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <span class="ml-2 font-medium text-gray-400 mr-1 pt-2">Subtotal:</span>
                                        <span class="text-2xl font-bold text-gray-800 "> ${{ totalCart }}</span>
                                        <inertia-link :href="route('confirmation')" class="flex inline-flex items-center bg-green-700 text-white-900
                                         rounded font-semibold ml-6 hover:bg-green-700 transition ease-in-out duration-150
                                          rounded-lg rounded-full py-3 px-6" >Checkout</inertia-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                            <div class="lg:text-center">
                                <span style="font-size: 15em; color: Tomato;"><i class="far fa-frown"></i></span>
                                <p style="color:  Tomato;" class="text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl py-5 -my-10">
                                    Carrinho Vazio !!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../../components/NavBar";
import {mapGetters} from "vuex";

export default {
    name: "Cart-show",
    components: {NavBar},
    computed: {
        ...mapGetters([
            'numCartItems',
            'totalCart',
            'listCart',
        ])
    },
    methods: {
        removeFromCart: function(id){
            this.$store.dispatch('REMOVE_FROM_CART', id)
        },
        emptyCart: function(){
            this.$store.dispatch('EMPTY_CART', {});
        }
    }

}
</script>

<style scoped>

</style>
