<template>
    <NavBar/>
    <div class="h-screen">
        <div class="py-12">
            <div class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg md:max-w-5xl">
                <div class="md:flex-2 ">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        <div class="lg:text-center">
                            <span style="font-size: 15em; color:green"><i class="far fa-smile"></i></span>
                            <p style="color: green" class="text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl py-5 -my-10">
                                Boa escolha! Obrigado por ter vindo !!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../../components/NavBar";
export default {
    name: "Confirmation",
    components: {NavBar},
    created (){
        this.$store.dispatch('VALIDATE_CHECKOUT');
    }
}
</script>

<style scoped>

</style>
